<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.actiTime.UserTest.UserTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>createUserAndVerifyDetailsTest</td>
<td>SmokeTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteUserTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>modifyUserAndVerifyDetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteCustomeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createCustomerAndVerifyDetailsTest</td>
<td>SmokeTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>modifyCustomerAndVerifyDetailsTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
