<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SmokeTest</td><td>ProjectAndTasksTest.createCustomerAndVerifyDetailsTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@ca1038]<br/>UserTest.createUserAndVerifyDetailsTest()[pri:0, instance:com.actiTime.UserTest.UserTest@b8ec9a]<br/></td></tr>
</table>
