<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="918797">  <td>14/04/30 12:57:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserTest.createUserAndVerifyDetailsTest()[pri:0, instance:com.actiTime.UserTest.UserTest@b8ec9a]">createUserAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="918797">  <td>14/04/30 12:58:12</td>   <td>35988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserTest.deleteUserTest()[pri:0, instance:com.actiTime.UserTest.UserTest@b8ec9a]">deleteUserTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="918797">  <td>14/04/30 12:58:18</td>   <td>42101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserTest.modifyUserAndVerifyDetailsTest()[pri:0, instance:com.actiTime.UserTest.UserTest@b8ec9a]">modifyUserAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="b162ff">  <td>14/04/30 12:58:43</td>   <td>66436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.createCustomerAndVerifyDetailsTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@ca1038]">createCustomerAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="b162ff">  <td>14/04/30 12:59:08</td>   <td>91886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.deleteCustomeTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@ca1038]">deleteCustomeTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="b162ff">  <td>14/04/30 12:59:14</td>   <td>97958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.modifyCustomerAndVerifyDetailsTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@ca1038]">modifyCustomerAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
</table>
