<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90fafb">  <td>14/05/18 23:48:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.createCustomerAndVerifyDetailsTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@f9f3b2]">createCustomerAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="c0d0a8">  <td>14/05/18 23:47:39</td>   <td>-26355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserTest.createUserAndVerifyDetailsTest()[pri:0, instance:com.actiTime.UserTest.UserTest@c4dc7c]">createUserAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="90fafb">  <td>14/05/18 23:48:05</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.deleteCustomeTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@f9f3b2]">deleteCustomeTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="c0d0a8">  <td>14/05/18 23:47:58</td>   <td>-6739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserTest.deleteUserTest()[pri:0, instance:com.actiTime.UserTest.UserTest@c4dc7c]">deleteUserTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="90fafb">  <td>14/05/18 23:48:16</td>   <td>10952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.modifyCustomerAndVerifyDetailsTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@f9f3b2]">modifyCustomerAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="c0d0a8">  <td>14/05/18 23:47:58</td>   <td>-6427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UserTest.modifyUserAndVerifyDetailsTest()[pri:0, instance:com.actiTime.UserTest.UserTest@c4dc7c]">modifyUserAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
</table>
