<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Suite]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>17/10/03 12:13:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_Functional.UI_TEST_002()[pri:0, instance:com.ea.loginpom.LoginPage_Functional@39c0f4a]">UI_TEST_002</td> 
  <td>TestNG-tests-1@628057693</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>17/10/03 12:13:49</td>   <td>-1700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_Functional.UI_TEST_003()[pri:0, instance:com.ea.loginpom.LoginPage_Functional@39c0f4a]">UI_TEST_003</td> 
  <td>TestNG-tests-1@628057693</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>17/10/03 12:13:49</td>   <td>-1700</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPage_Functional.init(org.testng.xml.XmlTest)[pri:0, instance:com.ea.loginpom.LoginPage_Functional@39c0f4a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@628057693</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/10/03 12:13:14</td>   <td>-37080</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initialize(org.testng.xml.XmlTest)[pri:0, instance:com.ea.loginpom.LoginPage_Functional@39c0f4a]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@628057693</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/10/03 12:13:52</td>   <td>1661</td> <td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:com.ea.loginpom.LoginPage_Functional@39c0f4a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1459794865</td>   <td></td> </tr>
</table>
