<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="638263">  <td>17/11/14 18:38:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentSettings.PaymentSettings_AddCreditCard()[pri:2, instance:com.prevail.profile.PaymentSettings@3f49dace]">PaymentSettings_AddCreditCard</td> 
  <td>TestNG-tests-1@1036899837</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>17/11/14 18:37:24</td>   <td>-37725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentSettings.PaymentSettings_UI()[pri:1, instance:com.prevail.profile.PaymentSettings@3f49dace]">PaymentSettings_UI</td> 
  <td>TestNG-tests-1@1036899837</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/11/14 18:38:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMtd(java.lang.reflect.Method)[pri:0, instance:com.prevail.profile.PaymentSettings@3f49dace]">&lt;&lt;afterMtd</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1036899837</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/11/14 18:38:05</td>   <td>2797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMtd(java.lang.reflect.Method)[pri:0, instance:com.prevail.profile.PaymentSettings@3f49dace]">&lt;&lt;afterMtd</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1036899837</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/11/14 18:38:05</td>   <td>2797</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.endTest(org.testng.xml.XmlTest)[pri:0, instance:com.prevail.profile.PaymentSettings@3f49dace]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1036899837</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/11/14 18:37:24</td>   <td>-37741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.extReport(java.lang.reflect.Method, org.testng.xml.XmlTest)[pri:0, instance:com.prevail.profile.PaymentSettings@3f49dace]">&gt;&gt;extReport</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1036899837</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/11/14 18:38:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.extReport(java.lang.reflect.Method, org.testng.xml.XmlTest)[pri:0, instance:com.prevail.profile.PaymentSettings@3f49dace]">&gt;&gt;extReport</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1036899837</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/11/14 18:36:54</td>   <td>-68003</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initialize(org.testng.xml.XmlTest)[pri:0, instance:com.prevail.profile.PaymentSettings@3f49dace]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1036899837</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>17/11/14 18:38:06</td>   <td>3531</td> <td title="&lt;&lt;BaseTest.tearDown(org.testng.xml.XmlTest)[pri:0, instance:com.prevail.profile.PaymentSettings@3f49dace]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1795799895</td>   <td></td> </tr>
</table>
