<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SmokeTest</td><td>ProjectAndTasksTest.createCustomerAndVerifyDetailsTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@17b9ed4]<br/></td></tr>
</table>
