<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="819399">  <td>14/04/28 22:04:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.createCustomerAndVerifyDetailsTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@17b9ed4]">createCustomerAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="819399">  <td>14/04/28 22:04:11</td>   <td>5772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.deleteCustomeTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@17b9ed4]">deleteCustomeTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
<tr bgcolor="819399">  <td>14/04/28 22:04:15</td>   <td>9052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProjectAndTasksTest.modifyCustomerAndVerifyDetailsTest()[pri:0, instance:com.actiTime.ProjectAndTasksTest.ProjectAndTasksTest@17b9ed4]">modifyCustomerAndVerifyDetailsTest</td> 
  <td>main@17510567</td>   <td></td> </tr>
</table>
