<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8b988">  <td>14/04/11 14:41:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ActiTimeTest.setup()[pri:0, instance:testngpackage.ActiTimeTest@1dfb148]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@15417190</td>   <td></td> </tr>
<tr bgcolor="e76e72">  <td>14/04/11 14:41:15</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNGTest.m1()[pri:0, instance:testngpackage.FirstTestNGTest@4cdf7e]">m1</td> 
  <td>TestNG@27995611</td>   <td></td> </tr>
<tr bgcolor="e8b988">  <td>14/04/11 14:41:31</td>   <td>16223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ActiTimeTest.loginToApp()[pri:0, instance:testngpackage.ActiTimeTest@1dfb148]">&gt;&gt;loginToApp</td> 
<td>&nbsp;</td>  <td>TestNG@15417190</td>   <td></td> </tr>
<tr bgcolor="e8b988">  <td>14/04/11 14:41:34</td>   <td>19359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActiTimeTest.createCustomerAndVerify()[pri:0, instance:testngpackage.ActiTimeTest@1dfb148]">createCustomerAndVerify</td> 
  <td>TestNG@15417190</td>   <td></td> </tr>
<tr bgcolor="e8b988">  <td>14/04/11 14:41:47</td>   <td>32253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ActiTimeTest.logout()[pri:0, instance:testngpackage.ActiTimeTest@1dfb148]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>TestNG@15417190</td>   <td></td> </tr>
<tr bgcolor="e76e72">  <td>14/04/11 14:41:47</td>   <td>32316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FirstTestNGTest.m2()[pri:0, instance:testngpackage.FirstTestNGTest@4cdf7e]">m2</td> 
  <td>TestNG@27995611</td>   <td></td> </tr>
<tr bgcolor="e8b988">  <td>14/04/11 14:41:47</td>   <td>32441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ActiTimeTest.loginToApp()[pri:0, instance:testngpackage.ActiTimeTest@1dfb148]">&gt;&gt;loginToApp</td> 
<td>&nbsp;</td>  <td>TestNG@15417190</td>   <td></td> </tr>
<tr bgcolor="e8b988">  <td>14/04/11 14:41:48</td>   <td>33158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActiTimeTest.sampleCheck()[pri:0, instance:testngpackage.ActiTimeTest@1dfb148]">sampleCheck</td> 
  <td>TestNG@15417190</td>   <td></td> </tr>
<tr bgcolor="e8b988">  <td>14/04/11 14:41:52</td>   <td>37573</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ActiTimeTest.logout()[pri:0, instance:testngpackage.ActiTimeTest@1dfb148]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>TestNG@15417190</td>   <td></td> </tr>
<tr bgcolor="e8b988">  <td>14/04/11 14:41:53</td>   <td>37885</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ActiTimeTest.exitBrower()[pri:0, instance:testngpackage.ActiTimeTest@1dfb148]">&lt;&lt;exitBrower</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@15417190</td>   <td></td> </tr>
</table>
